*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1
{

font-family: "Island Moments", cursive;
font-style: normal;
font-weight: 600;
font-size: 80px;
line-height: 92px;

color: #AA00FF;
text-shadow: #0000CD 0px 0px 5px, #0000CD 0px 0px 10px, #0000CD 0px 0px 3px, #0000CD 0px 0px 5px, #0000CD 0px 0px 7px, #0000CD 0px 0px 10px, #0000CD 0px 0px 10px, #0000CD 0px 0px 18px;
height: fit-content;
}

.logo
{
width: 158px;
height: 146px;
position: relative;
left: -20px;
top: 8px;
}

.menu_item_link_1, .menu_item_link_2 {

  font-family: 'Inria Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;

  color: #000000;
}

.header_menu_holder
{
  display: flex;
  gap: 72px;
  align-items: center;
  justify-content: space-around;
  margin-left: 90px;
}

.online_shopping  
{
width: 35%;
margin-left: auto;
margin-right: auto;
display: block;
}
header {
  display: flex;
  padding: 5px 10px 50px 60px;
}
.btn
{
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
.header_menu
{
  display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%;

}
