*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1
{

font-family: "Island Moments", cursive;
font-style: normal;
font-weight: 600;
font-size: 80px;
line-height: 92px;

color: #AA00FF;

opacity: 1;
border: 1px solid #3300FF;
height: fit-content;
}

.logo
{
width: 158px;
height: 146px;
position: relative;
left: -20px;
top: 8px;
}

.menu_item_link_1, .menu_item_link_2 {

  font-family: 'Inria Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;

  color: #000000;
}

.header_menu_holder
{
  display: flex;
  gap: 72px;
  align-items: center;
  justify-content: space-around;
  margin-left: 90px;
}

.online_shopping  
{
width: 588px;
height: 544px;
}
header {
  display: flex;
}
.btn
{
  width: 50px;
  height: 50px;
}